{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
    <h1>{{ book.title }}</h1>
    <p>
        {{ book.description }}
    </p>
    {% if book.image.name is defined %}
        <img src="{{ asset('uploads/'~book.image.name) }}" alt="">
    {% endif %}
{% endblock %}
